{% render 'partials/head.liquid' %}



<main>
<article class="container">
  <header class="banner">
    <h1>{{ person.name }}</h1> 
  </header>

  <img id="profile-pic" src="assets/LM-11.jpg">
  
  <h2>{{ person.bio }}</h2>


  
  <details class="ul-movement">
    <summary>What's This?</summary>

    <ul>
        <li> 
          
           <label> <input type="radio" name="selection" value="show"/>Show I'm Watching:  {{ person.custom.tv_show }} </label> 

           <label> <input type="radio" name="selection" value="game"/>Game I have beeen playing: {{ person.custom.game }} </label> 

           <label> <input type="radio" name="selection" value="movie"/>Last movie I've watched: {{ person.custom.movie }}  </label> 
         
          </li>
    </ul>

  </details>
</article>
</main>

<footer class="hover">
{{ person.custom.favorite_drink }}
</footer>



{% render 'partials/foot.liquid' %}
